$axpara-primary:#2C8AFF;
$axpara-light: #ffffff;
$axpara-bg-page-color: #EEF3FC;
$axpara-dark-blue: #303948;
$axpara-grey-bg: #EEF3FC;
$axpara-darker-blue:#0D131D;
$axpara-opacity-grey:#707376;
$axpara-dark: #2E343D;
$axpara-border-color: #D1E1FC;
$axpara-full-info-color: rgba(48,57,72,.8);
$axpara-error: #f66363;
