@import "_variables";
@import "fonts";

/*600*/
@font-face {
  font-family: 'Rubik-SemiBold';
  src: url("../fonts/Rubik-SemiBold.ttf");
}

body {
  background: $axpara-light;
}

.btn {
  line-height: 29px;
  width: 200px;
}

.btn > a {
  font-family: 'Rubik-SemiBold';
  text-decoration: none;
  color: $axpara-light;
  font-size: 16px;
  height: 20px;
}

button {
  &.full-info-btn {
    border-radius: 4px;
    border: none;
    height: 38px;
    line-height: 38px;
    min-width: 100px;
    padding: 0 30px;
    font-family: 'Rubik-SemiBold';
  }

  a {
    color: $axpara-light;
    text-decoration: none;
    font-family: 'Rubik-SemiBold';

    &:hover {
      color: $axpara-light;
    }
  }
}



